{% extends "layout.html" %}

{% block content %}

	<h1><a href="/strategies">Strategies </a>
		<i class= "angle double right icon"></i>
		{{strategy.name}}
	</h1>

	<h2>Stocks</h2>
	<table class="ui inverted black striped table">
		<thead>
			<tr>
				<th>Symbol</th>
				<th>Name</th>
				<th>Remove</th>
			</tr>
		</thead>
		<tbody>
			{% for stock in stocks %}
			<tr>
				<td>{{stock.symbol}}</td>
				<td><a href="/stock/{{stock.symbol}}">{{stock.name}}</a> </td>
				<td><input type="submit" value="Remove"/></td>
			</tr>
		</tbody>
		{% endfor %}
	</table>

{% endblock %}